# IntelliJ project files
.idea
out
gen

# Composer
/vendor
composer.lock

# Project directories
/docs
/old

# Project files
analysis.txt
files

# Extensions
extensions/
!extensions/**/*.zep
!extensions/**/*.json
!extensions/**/ext/kernel/*.h
!extensions/**/ext/kernel/*.c
!extensions/**/ext/kernel/extended/*.h
!extensions/**/ext/kernel/extended/*.c
/write
/.idea/php.xml
